# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.out

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


input.txt
temp.cpp
temp.java
temp.py
test.cpp
test.java
test.py